---
import Layout from '../layouts/layout.astro';
---

<Layout title="Protocol Landing Page">
  <main class="w-full w-2/3 antialiased flex justify-center items-center">
    <div class="flex flex-col text-center items-center">
      <p class="text-5xl font-bold tracking-tighter">Decentralised Contact Network</p>
      <p class="mt-8 w-4/5 md:w-1/2 text-2xl">Protocol for creation, storage, and retrieval of contextual relationships & social graphs.</p>
      <p class="mt-6 w-4/5 md:w-1/2">Decentralised. User-Controlled. Permissionless</p>
      <form class="flex flex-row gap-1 md:gap-4 justify-between items-center mt-8" action="https://app.convertkit.com/forms/5439142/subscriptions" method="post" data-sv-form="5439142" data-uid="d33c7e8dbd">
        <label>Sign up to get updates</label></br>
        <input class="w-2/3 text-black bg-slate-100 focus:ring-2 focus:outline-none focus:ring-slate-500 font-medium rounded-lg text-sm py-3.5 text-center md:mr-0" type="email" value="" name="email_address" placeholder="Email Address" id="email" required>
        <button type="submit" class="bg-black text-white font-medium rounded-lg text-sm px-2.5 md:px-5 py-2 md:py-2.5 text-center md:mr-0">Submit</button>
      </form>
    </div>
  </main>
</Layout>
