---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Protocol Landing Page">
  <main class="w-full w-2/3 antialiased flex justify-center items-center">
    <div class="flex flex-col text-center items-center">
      <p class="text-4xl font-bold">Decentralised Contact Network</p>
      <p class="text-xl">Connections that last</p>
      <p class="mt-8 w-1/2">DCN is a Protocol for the creation, storage, and retrieval of relationships & social graphs between users. </br>
        `Social Graph` is a graph with Users being nodes & Relationships being the edge. The protocol facilitates the creation of multiple such graphs, which can be specific to the relationship & application context. Stored on the same network.</br>
        Each user is represented with a DID(decentralised identifier) & the protocol describes a way to represent a relationship between two DIDs</p>
      <a href="https://shovelco.notion.site/Decentralised-Contact-Network-Summary-v0-2-58cbcf348c8e44d89dfef40b740d61a9?pvs=4" target="_blank" class="mt-8 px-5 py-2.5 bg-black text-white rounded-lg">Learn More</a>
    </div>
  </main>
</Layout>
